{% extends 'base-iqc.html' %}
{% load staticfiles %}

{% block head %}
    <title>IQC 查询数据</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sheetjs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alertify.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Timeline.css' %}">
{% endblock head %}

{% block main %}

    <div id="left">
        <a id="search-scpc" class="btn btn-default btn-search-scpc">按生成批次查询</a>
		<a id="search-tm" class="btn btn-default btn-search-tm">按条码查询</a>
        <a id="search-timeline" class="btn btn-default btn-search-tm">时间轴</a>
    </div>
    <div id="right">
        <div id="container1" class="container" style="display: stock;">
        	<div id="item-box">
	            <label class="control-label" for="dropdown-scpc">生成批次</label>
	            <div class="bootstrap-select">
	                <select name="dropdown-scpc" class="selectpicker" data-size="5" id="dropdown-scpc" data-width="150px" data-live-search="true">
	                    <option> </option>
	                </select>
	            </div>
	            <button type="button" class="btn btn-default">查询</button>
	        </div>
	        <div id="hot" style="overflow: scroll;" class="handsontable"></div>
        </div>
        <iframe id="container2" frameborder="0" width="810px" height="1000px" marginwidth="10px">
        </iframe>
    </div>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'js/handsontable.full.min.js' %}"></script>
    <script src="{% static 'js/shim.js' %}"></script>
    <script src="{% static 'js/jszip.js' %}"></script>
    <script src="{% static 'js/xls.js' %}"></script>
    <script src="{% static 'js/xlsx.js' %}"></script>
    <script src="{% static 'js/dropsheet.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!--alertify.js 用于弹出自定义警告框-->
    <script src="{% static 'js/alertify.min.js' %}"></script>
    <!--spin.js 用于做Ajax 异步请求的时候，一般都会利用一个动态的 Gif 小图片来制作一个Ajax Loading -->
    <script src="{% static 'js/spin.js' %}"></script>
    <script>
        $(function() {
            $.ajaxSetup({
              data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $("#search-scpc").click(function() {
            	$("#container1").show();
            	$("#container2").hide();
            });
            $("#search-timeline").click(function() {
            	$("#container1").hide();
    			$("#container2").show();
            	$("#container2").attr('src', "/iqc/timeline/");
            });

            $("#btn-upload").click(function() {
				if(hotHandsontable.countRows() <= 1){
                    alertify.alert("请导入数据");
                }else{
                    $.ajax({
                        type:"POST",
                        url:"/iqc/upload-data/",
                        success: function(data,status) {
                            var resultData = $.parseJSON(data);

                        },
                        error: function(data) {
                            alertify.alert("上传数据", data);
                        }
                    });
                }
            });
        });
    </script>
{% endblock scripts%}
